<!DOCTYPE html>
<html>
<head>
    <title>Sparky</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/jqm.css" />
    <script src="/jquery.js"></script>
        <script>
            $(document).bind("mobileinit", function(){
                  $.mobile.ajaxEnabled = false;
              });
        </script>
    <script src="/jqm.js"></script>
    <script>
        var path;
        function addPath(h, middle) {
            $(h).attr("href", '/dashboard/shares' + middle + '/' + path);

            setTimeout(function() {
                $('#options').popup("close");
            }, 3000);
        }
        function urlDialog(h) {
            var url = '[% h.url_for("/dashboard/shares/").to_abs %]' + path;

            $("#copy_url").val(url);

            setTimeout(function() {
                $('#options').popup("close");
            }, 100);

            setTimeout(function() {
                $('#success_url').popup("open");
            }, 300);
        }
        function delShare() {
            $.getJSON("/del/share/" + path, function( data ) {
                if (data.ret) {
                    $('#options').popup("close");

                    setTimeout(function() {
                        location.reload(true);
                    }, 1200);
                }
            });
        }
    </script>
</head>
<body>

<div data-role="page" id=page_show class=ui-responsive-panel>

    <div data-role="header">
        <a data-ajax=false id=goFetch href="/" data-icon="home">Home</a>
        <h1><a href="/dashboard/shares" data-rel="external" data-ajax=false>Sparky[% UNLESS h.is_admin %] [Guest][% END %]</a></h1>
        <a data-ajax=false id=goLogout href="/logout" data-icon="delete">Logout</a>
    </div><!-- /header -->

    <div data-role="content">
        [% IF error %]
            <ul data-role="listview">
            <li><a data-rel=dialog href="#profile-form">
                <p class="ui-li-desc" style="white-space: normal;"><font size=+1>[% error | html %]</font></p>
            </a></li>
            </ul>
        [% END %]

        [% UNLESS have_files %]
            <ul data-role="listview">
            <li><a data-rel=dialog href="#profile-form">
                <p class="ui-li-desc" style="white-space: normal;"><font size=+1>No files found.</font></p>
            </a></li>
            </ul>
        [% END %]

        [% IF have_files %]
            <ul class="info-taphold" data-role="listview" data-filter="true" data-split-icon="gear" data-inset="true" data-split-theme="d">
                [% IF entry_name %]
                <li data-role="list-divider">[% entry_name %]</li>
                [% END %]

                [% FOREACH entry IN entries %]
                    <li><a data-ajax=false href="/dashboard/shares/[% IF entry.timelimit %][% entry.timelimit %]/[% END %][% entry.path %]">
                    <h2>[% entry.name | html %][% IF entry.timestring %] [[% entry.timestring | html %]][%END%]</h2>
                    <p>[% IF "file" == entry.type %] [% entry.size %] [% ELSE %] Directory [% END %]</p></a>
                        <a href="#options" data-rel="popup" data-position-to="window" data-transition="pop" onclick="path = '[% IF entry.timelimit %][% entry.timelimit %]/[% END %][% entry.path %]';">Link</a>
                    </li>
                [% END %]
            </ul>

        <div data-role="popup" id="success_url" data-theme="a">
            <ul data-role="listview" data-inset="true" style="min-width: 210px;" data-theme="b">
                <li data-icon=false><a href="#">URL</a></li>
                <input type="text" id="copy_url" value="" />
                <li data-icon=false><a href="#" data-rel="back">Ok</a></li>
            </ul>
        </div>

        <div data-role="popup" id="options" data-theme="a">
            <ul data-role="listview" data-inset="true" style="min-width: 210px;" data-theme="b">
                <li data-role="divider" data-theme="a">Options</li>
                <li data-icon=false><a href="/dashboard/shares/" onclick="addPath(this, '/pls'); return true;">PLS File</a></li>
                <li data-icon=false><a href="/dashboard/shares/" onclick="addPath(this, '/m3u'); return true;">M3U File</a></li>
                <li data-icon=false><a href="/dashboard/shares/" onclick="addPath(this, '/audio'); return true;">HTML5 audio</a></li>
                <!-- <li data-icon=false><a href="/dashboard/shares/" onclick="addPath(this, '/ogv'); return true;">OGG Transcode</a></li> -->
                <li data-icon=false><a href="#" onclick="urlDialog(this); return true;">URL</a></li>
                [% IF c.session.have_user %]
                <li data-icon=false><a href="#" onclick="delShare(); return false;">Remove</a></li>
                [% END %]
                <li data-icon=false><a href="#" data-rel="back">Cancel</a></li>
            </ul>
        </div>

        [% END %]
    </div><!-- /content -->
</div><!-- /page -->

</body>
</html>

