<!DOCTYPE html>
<html>
<head>
    <title>Sparky</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/jqm.css" />

    <script src="/jquery.js"></script>
    <script src="/jquery.validationEngine-en.js"></script>
    <script src="/jquery.validationEngine.js"></script>
        <script>
            $(document).bind("mobileinit", function(){
                  $.mobile.ajaxEnabled = false;
            });
        </script>

        <script>
            $(document).bind("pageshow", function(){
                jQuery("#formLogin").validationEngine();
                jQuery('input').attr('data-prompt-position','bottomLeft');
                jQuery('input').data('promptPosition','bottomLeft');
                jQuery('password').attr('data-prompt-position','bottomLeft');
                jQuery('password').data('promptPosition','bottomLeft');
                jQuery('textarea').attr('data-prompt-position','bottomLeft');
                jQuery('textarea').data('promptPosition','bottomLeft');
                jQuery('select').attr('data-prompt-position','bottomLeft');
                jQuery('select').data('promptPosition','bottomLeft');

                $( "input" ).keydown(function() {
                    jQuery('#formLogin').validationEngine('hide');
                });

                $( "password" ).keydown(function() {
                    jQuery('#formLogin').validationEngine('hide');
                });
            });
        </script>
    <script src="/jqm.js"></script>
    <link type="text/css" rel="stylesheet" href="/validationEngine.jquery.css"/>
</head>
<body>

<div data-role="dialog" data-close-btn="none">

    <div data-role="header" data-theme="d">
        <h1>Initialization</h1>
    </div>

    <div data-role="content">
        [% IF error %]
        <p><span> <a data-inline="true" data-iconpos="notext" data-icon="alert" data-role="button" class="ui-icon-alt ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext ui-btn-up-e" href="#" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="e"><span class="ui-btn-inner"><span class="ui-btn-text">Alert</span><span class="ui-icon ui-icon-alert ui-icon-shadow"></span></span></a>
        </span> [% error %] </p>
        [% END %]

        [% IF success %]
        <p><span> <a data-inline="true" data-iconpos="notext" data-icon="check" data-role="button" class="ui-icon-alt ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext ui-btn-up-e" href="#" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="e"><span class="ui-btn-inner"><span class="ui-btn-text">Success</span><span class="ui-icon ui-icon-check ui-icon-shadow"></span></span></a>
        </span> [% success %] </p>
        [% END %]

        [% IF info %]
        <p><span> <a data-inline="true" data-iconpos="notext" data-icon="info" data-role="button" class="ui-icon-alt ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext ui-btn-up-e" href="#" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="e"><span class="ui-btn-inner"><span class="ui-btn-text">Info</span><span class="ui-icon ui-icon-info ui-icon-shadow"></span></span></a>
        </span> [% info %] </p>
        [% END %]

        <form id=formLogin data-ajax=false action="/init" method="post">
                <div class="ui-grid-solo">
                    <div class="ui-block-a"><input name="login" id="login" placeholder="Login" value="[% login | html %]" type="text" autocapitalize="off" class="validate[required,custom[onlyLetterSp],minSize[3],maxSize[16]]"></div>
                </div>

                <div class="ui-grid-solo">
                    <div class="ui-block-a"><input name="password" id="password" placeholder="Password" value="[% password | html %]" autocapitalize="off" type="password" class="validate[required,custom[onlyLetterNumber],minSize[8],maxSize[16]]"></div>
                </div>

                <div class="ui-grid-solo">
                    <div class="ui-block-a"><input name="_password" id="_password" placeholder="Verify Password" value="[% _password | html %]" autocapitalize="off" type="password" class="validate[required,equals[password]]"></div>
                </div>

            <div class="ui-grid-solo">
                <div class="ui-block-a"><input value="Add" data-theme="b" type="submit"></div>
            </div>
        </form>
    </div>
</div>

</body>
</html>

