<!DOCTYPE html>
<html>
<head>
    <title>Sparky</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/jqm.css" />
    <script src="/jquery.js"></script>
    <script src="/jquery.validationEngine-en.js"></script>
    <script src="/jquery.validationEngine.js"></script>
        <script>
            $(document).bind("mobileinit", function(){
                  $.mobile.ajaxEnabled = false;
            });

            $(document).bind("pageshow", function(){
                jQuery("#loginUser").validationEngine();
                jQuery('input').attr('data-prompt-position','bottomLeft');
                jQuery('input').data('promptPosition','bottomLeft');
                jQuery('password').attr('data-prompt-position','bottomLeft');
                jQuery('password').data('promptPosition','bottomLeft');
                jQuery('textarea').attr('data-prompt-position','bottomLeft');
                jQuery('textarea').data('promptPosition','bottomLeft');
                jQuery('select').attr('data-prompt-position','bottomLeft');
                jQuery('select').data('promptPosition','bottomLeft');

                $( "input" ).keydown(function() {
                    jQuery('#loginUser').validationEngine('hide');
                });

                $( "password" ).keydown(function() {
                    jQuery('#loginUser').validationEngine('hide');
                });
            });
        </script>
    <script src="/jqm.js"></script>
    <link type="text/css" rel="stylesheet" href="/validationEngine.jquery.css"/>
</head>
<body>

<div data-role="dialog" data-close-btn="none">

    <div data-role="header" data-theme="d">
        <h1>Sparky</h1>
    </div>

    <div data-role="content">
        [% IF error %]
        <p><span> <a data-inline="true" data-iconpos="notext" data-icon="alert" data-role="button" class="ui-icon-alt ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext ui-btn-up-e" href="index.html" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="e"><span class="ui-btn-inner"><span class="ui-btn-text">Alert</span><span class="ui-icon ui-icon-alert ui-icon-shadow"></span></span></a>
        </span> [% error %] </p>
        [% END %]

        [% IF success %]
        <p><span> <a data-inline="true" data-iconpos="notext" data-icon="check" data-role="button" class="ui-icon-alt ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext ui-btn-up-e" href="index.html" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="e"><span class="ui-btn-inner"><span class="ui-btn-text">Success</span><span class="ui-icon ui-icon-check ui-icon-shadow"></span></span></a>
        </span> [% success %] </p>
        [% END %]

        [% IF info || c.flash('info') %]
        <p><span> <a data-inline="true" data-iconpos="notext" data-icon="info" data-role="button" class="ui-icon-alt ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext ui-btn-up-e" href="index.html" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="e"><span class="ui-btn-inner"><span class="ui-btn-text">Info</span><span class="ui-icon ui-icon-info ui-icon-shadow"></span></span></a>
        </span> [% info || c.flash('info') %] </p>
        [% END %]

        <form id=loginUser data-ajax=false action="/login" method="post">
                <div class="ui-grid-solo">
                    <div class="ui-block-a"><input name="login" id="login" placeholder="Login" value="[% login | html %]" type="text" autocapitalize="off" class="validate[required,custom[onlyLetterSp],minSize[3],maxSize[30]]"></div>
                </div>

                <div class="ui-grid-solo">
                    <div class="ui-block-a"><input name="password" id="password" placeholder="Password" value="[% password | html %]" autocapitalize="off" type="password" class="validate[required,custom[onlyLetterNumber],minSize[8],maxSize[16]]"></div>
                </div>

            <div class="ui-grid-a">
                <div class="ui-block-a"><label><input data-mini="true" type="checkbox" name="hour_session" [% IF hour_session %] checked [% END %]/>Quick login</label></div>
                <div class="ui-block-b"><a href="/dashboard/shares" data-role="button" data-theme="b" rel="dialog" data-mini="true">Public Files</a></div>
            </div>

            <div class="ui-grid-solo">
                <div class="ui-block-a"><input value="Login" data-theme="b" type="submit"></div>
            </div>
        </form>
    </div>

    <a id=pageDialog href="/login" data-rel="dialog" style='display:none;'>Login</a>
</div><!-- /page -->

</body>
</html>

